<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="container">
        <div class="form-group">
            <label for="Input1" class="form-label">Title</label>
            <input type="text" class="form-control" id="Input1" name="postTitle" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="Textarea1" class="form-label">textarea</label>
            <textarea class="form-control" name="postBody" id="Textarea1" rows="6"></textarea>
          </div> 
        <button class="btn btn-success mt-3 my-3" type="submit">Submit</button>

    </div>

</form>

<%- include("partials/footer"); -%>
